:root{
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --optional-white: #FFFFFF;
    --btn-color: #F5F4FA;
    --addres-color: rgba(255, 255, 255, 0.6);
    --bg-icon: #AFB1B8;
}


p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    background: #FFFFFF;
    color: var(--primary-text-color);
    width: 1600px;
    display: block;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: ; */
    /* outline: 2px solid crimson; */
}
/* --------------------------------header--------------------------------*/

.header {
    border: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 25px;
}

.list {
    list-style: none;
}

.logo{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}
    
.header-logo{
    margin-right: 93px;

}
.header-span{
    color:var(--primary-text-color);
}

.header-list .header-link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.header-list .header-link:hover, 
.header-list .header-link:focus {
    color: var(--accent-color)
}

.header-list .header-link.corrent{
    color: var(--accent-color);
}
.header-list{
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}


.header-connection-icon{
    margin-right: 10px;
    align-items: center;
}

.header-connection{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-nav{
    display: flex;
    align-items: center;
}

.header .header-container{
    display: flex;
    align-items: center;
}

.header-connection a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.header-connection-icon{
    fill: var(--bg-icon);
}

.header-item-tel:hover,
.header-item-tel:focus{
    color: var(--accent-color);
}

.header-item-mail:hover,
.header-item-mail:focus{
    color: var(--accent-color);
}

.header-connection-item .header-connection-icon:hover,
.header-connection-item .header-connection-icon:focus{
    fill: var(--accent-color);
}


.header-item-mail{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-item-tel{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --------------------------------hero-------------------------------- */

.hero{
    background-color: #2F303A;
    margin-bottom: 94px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url(../images/hero-bg.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}


.hero-title{
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;  
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--optional-white);
    margin-bottom: 30px;
    margin: 0 auto;

}
.hero-btn{
    /* position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px; */
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--optional-white);
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    padding: 10px 32px;
    border: none;
}



/* --------------------------------benefits-------------------------------- */

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}

.benefits-list-img{
    display: flex;
    margin-bottom: 30px;
}

.benefits-item-img:not(:last-child){
    margin-right: 30px;
}

.benefits-item-img{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.benefits-item-img{
    display: flex;
    align-items: center;
    justify-content: center;
}


.benefits-list {
    display: flex;
}

.benefits-item{
    width: 270px;
}

.benefits-item:not(:last-child){
    margin-right: 30px;
}

.benefits-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* ------------------------------------about----------------------------- */

.about {
    padding-bottom: 94px;
}
.about-list{
    display: flex;
}

.about-item:not(:last-child){
    margin-right: 30px;
}

.personal {
    margin-bottom: 0;
    margin-top: 0;
}

.section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* -----------------------------------personal-------------------------- */

.team-list{
    display: flex;
}


.item-name{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 5px;
}

.team{
    background: #F5F4FA;
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-item{
    background: #FFFFFF;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child){
    margin-right: 30px;
}

.team-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 16px;
}


.social-list{
    display: flex;
    justify-content: center;
}

.social-item{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    display: flex;
}


.social-item:last-child {
    margin-right: 0;
}


.social-href{
    width: 100%;
    height: 100%;
    background-color: var(--optional-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-href-icon{
    fill:var(--bg-icon);
}

.social-href:hover,
.social-href:focus {
    background-color: var(--accent-color);
}
.social-href:hover .social-href-icon,
.social-href:focus .social-href-icon{
    fill: var(--optional-white);
}

/* ----------------------------------clients------------------------------------ */

.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}


.clients-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.clients-list{
    display: flex;
}

.clents-item{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    background-color: var(--optional-white);
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clents-item:not(:last-child){
    margin-right: 30px;
}

.clents-item:hover
.clents-item:focus{
    border: var(--accent-color);
}

.clents-icon{
    fill: var(--bg-icon);
}

.clents-icon:hover
.clents-icon:focus{
    fill: var(--accent-color);
}


.clents-item:hover,
.clents-item:focus {
    border:solid var(--accent-color);
}
.clents-item:hover .clents-icon,
.clents-item:focus .clents-icon{
    fill: var(--accent-color);
}
/* ----------------------------------footer------------------------------------ */

.footer { 
    background: #2F303A;

}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}



.footer-span {
    color: var(--optional-white);
}

.footer-logo{
    display: block;
    margin-right: 156px;
}

.address-item a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--addres-color);
}
.address-item .address-google{
    color: var(--optional-white);
}

.address-google{
    margin-bottom: 9px;
}

.addres-mail{
    margin-bottom: 9px;
}

.address-list{
    
}



.address-list a:hover,
.address-list a:focus {
    color: var(--accent-color);
}

.address-item{
    display: block;
}
.footer-div{
    display: flex;
}


.footer-socil-text{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--optional-white);
    margin-bottom: 20px;
}

.footer-social-list{
    display: flex;
}

.footer-social-item{
    display:flex;
}
.footer-social-href{
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.footer-social-item:not(:last-child){
    margin-right: 10px;
}

.footer-social-href:hover,
.footer-social-href:focus{
    background-color:var(--accent-color);
}
.footer-social-icon{
    fill: var(--optional-white);
}

/* --------------------------------portfolio-------------------------------- */



.button-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-item:not(:last-child){
    margin-right: 8px;
}

.button-text{
    background: #F5F4FA;
    border-radius: 4px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    padding: 6px 22px;
    
}

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-div{
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    border: 1px solid #ECECEC;
}

.button-text:hover,
.button-text:focus{
    color: var(--optional-white);
    background-color: var(--accent-color);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
    margin-bottom: 4px;
}

.portfolio-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--title-text-color) ;
}

.portfolio-item:not(:nth-child(-n + 3)){
    margin-top: 30px;
}
.portfolio-item:not(:nth-child(3n + 3)){
    margin-right: 30px;
}

.portfolio-link{
    text-decoration: none;
}

.portfolio-link img{
    display: block;
    text-decoration: none;
}

.portfolio-item:hover,
.portfolio-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}